* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', 'Open-sans', 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #FC997C;
    padding: 5px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header>div {
    max-width: 1000px;
    margin: auto;
}

#main-link {
    font-size: 30px;
    color: white;
}

#main-nav {
    float: right;
    font-size: large;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav ul li {
    display: inline-block;
}

#main-nav ul li a {
    display: block;
    color: white;
    padding: 8px;
    margin: 0px 12px;
}

#main-nav ul li a i {
    padding: 0px 5px 5px 0px;
}

#main-nav ul li a:hover {
    color: #2E4C6D;
}

#main-nav ul li a:active {
    color: white;
}

#showcase>div {
    background: linear-gradient(rgba(252, 153, 124, 0.4), rgba(252, 153, 124, 0.4)),
        url(tv-ekrani.jpeg);
    /* background:url(3tv-ekrani.jpeg); */
    width: 100%;
    height: 75vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#showcase>div>span {
    background: linear-gradient(rgba(46, 76, 109, 0.5), rgba(46, 76, 109, 0.5));
    /* background: linear-gradient(rgba(252,153,124, 0.3),rgba(252,153,124,0.3)); */
    color: white;
    font-size: 35px;
    /* font-size:5vh ; */
    border-radius: 10px;
    font-weight: 700;
    padding: 30px;
    width: 60%;
    height: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#showcase>div>span>h1 {
    margin-bottom: 10px;
}

#how-it-works {
    margin: 20px auto;
    width: 80%;
}

#how-it-works__upper-part {
    padding: 20px;
    text-align: center;
}

#how-it-works__lower-part {
    padding: 30px;
}

.how-it-works__col-3 {
    display: inline-block;
    width: 33%;
    padding: 20px;
    text-align: center;
}

#how-it-works h1 {
    color: #2E4C6D;
    padding: 30px;
    font-size: 30px;
}

#how-it-works i {
    color: #FC997C;
}

#how-it-works p {
    font-size: 17px;
}

#features__left {
    background: url(features__left.jpeg);
    background-position: center;
    background-size: cover;
    border: 5px #edf5f7 solid;
}

#features__right {
    background-color: #edf5f7;
    padding: 40px;
    vertical-align: top;
}

#features__right h1 {
    margin: 20px 0px;
    font-size: 30px;
}

#features__right p {
    margin: 20px 0px;
}

#features__right a {
    display: inline-block;
    padding: 10px !important;
}

.features__col-2 {
    display: inline-block;
    width: 50%;
    height: 50vh;
}

#plans h1 {
    text-align: center;
    font-size: 30px;
    margin: 50px 0px 30px 0px;
    color: #2E4C6D;
}

#plans__container {
    width: 80%;
    margin: auto;
    text-align: center;


}

.plans__col-3 {
    display: inline-block;
    padding: 20px;
    background-color: #edf5f7;
    border-radius: 10px;
    vertical-align: middle;
    margin: 0px 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 38px, rgba(0, 0, 0, 0.11) 0px 15px 12px;
    transition: box-shadow 0.4s;
}

.plans__col-3:hover {
    box-shadow: rgba(0, 0, 0, 0.9) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 12px;
}

.plans__col-3 h3 {
    margin: 20px 0px;
    
}

.plans__col-3 ul {
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
}

.plans__col-3 li {
    padding: 5px;
}

#recommended {
    padding: 30px 20px 20px 20px;
    background-color: #396EB0;
    color: white;
}

#recommended h2 {
    background-color: white;
    color: #FC997C;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
}

#counters__container {
    width: 100%;
    background-color: #FC997C;
    margin: 100px 0px 50px 0px;
    text-align: center;
    padding: 40px;
}

.counters__col-3 {
    color: white;
    display: inline-block;
    font-size: 20px;
    width: 33%;
    padding: 20px 0px;
}

#movies__container {
    width: 100%;
    text-align: center;
}

#movies>h1 {
    color: #2E4C6D;
    text-align: center;
    font-size: 30px;
    margin: 30px 0px 30px 0px;
}

.movies__col-3 {
    display: inline-block;
    width: 23%;
    margin: 0px 10px;
    text-align: initial;
    cursor: pointer;
    /* position: relative; */
    /* top: 0; */ /* top:0 demezsen poster çok hızlı inip kalkar  */
    transition:all .5s;
    box-shadow: 10px 10px 40px rgb(52 58 64 / 10%);
}

.movies__col-3:hover {
    /* top: -15px; */
    cursor: pointer;
    transform: translateY(-15px);
}

#movies img {
    width: 100%;
    height: 300px;
}

.movies__content {
    padding: 20px 20px 40px 20px;
}

.movies__content h1, .movies__content p, .movies__content a {
    margin: 20px;
}


footer{
    background-color: #2E4C6D;
    width: 100%;
    padding: 100px;
    margin-top: 200px;
    font-size: 20px;
    position: relative;
    bottom: 0px;

}
#footer__content{
    float: left;
}

#footer__content ul{
    list-style-type: none;
}

#footer__content li{
    display: inline-block;
    margin: 0px 20px;
}

#footer__content li a{
    display: block;
    padding: 10px;
    color: white;
}

#footer__logo{
    float: right;
}

#footer__logo ul{
    list-style-type: none;
}
#footer__logo ul li{
    display: inline-block;
    margin: 0px 10px;
}

#footer__logo ul li a{
    display: block;
    color: white;
    font-size: 30px;
}

#footer__logo ul li a:hover{
    opacity: 0.5;
}

#back-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#back-to-top i{
    color: #2E4C6D;
    font-size: 45px;
    transition: color .6s;
}

.fa-facebook{
    background-color: #396EB0;
    padding: 10px;
    border-radius: 100%;
}
.fa-twitter{
    background-color: rgb(43, 181, 240);
    padding: 10px;
    border-radius: 100%;
}
.fa-instagram{
    background-color: #396EB0;
    padding: 10px;
    border-radius: 100%;
}

/* Register Page */

#register h1 {
    text-align: center;
    margin: 50px 0px 50px 0px;
    color: #2E4C6D;
}

#register__form{
    width: 35%;
    margin: auto;
}

#register__form label {
    display: block;
    width: 100%;
    margin:0px auto ;
}

#register__form input , #register__form select{
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 35px;
    margin: 5px auto 20px auto;
    padding: 5px;
}

#register__form input:focus:not([type="checkbox"], [type="submit"]) , #register__form select:focus{
    /* outline: none; */ /* borderla arasında fark var */
    outline: #2E4C6D 2px solid;
    background-color: #edf5f7;
}

#register__form input:not([type="checkbox"], [type="submit"]), #register__form select{
    border: #2E4C6D 1px solid;
}

/* #register__form [type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: #2E4C6D 1px solid;
    border-radius: 50%;
} */

#checkbox__agree-to{
    display: initial !important;
    height: initial !important;
    width: initial !important;
}
#agree-to{
    display: inline !important;
    height:initial !important;
    width: initial !important;
}

#submit:hover{
    opacity: 0.8;
}